{% extends 'base.html.twig' %}

{% block body %}
<nav>
    <ul>
        <!-- Lien vers la liste des produits -->
        <li>
            <a href="{{ path('products_list') }}">Liste des Produits</a>
        </li>
        <!-- Lien vers la liste des feedbacks -->
        <li>
            <a href="{{ path('feedback_list') }}">Liste des Feedbacks</a>
        </li>
    </ul>
</nav>
{%  endblock %}
